/* =============================================== */
/* General */
/* =============================================== */
body {
    text-align: center!important;
}

/* =============================================== */
/* Instructions */
/* =============================================== */

.instructions {
	width:100%;
	height:100%;
	background:rgba(255,255,225,0.05);
    text-align: left;
	margin:20px auto;
    padding: 20px 20px 10px 20px;

    position:relative;
    -webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset;
       -moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset;
            box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset;

    -moz-border-radius: 8px/8px;
         border-radius: 8px/8px;
}

.instructions:before, .instructions:after
{
	content:"";
    position:absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    -webkit-box-shadow:2px 4px 16px rgba(0,0,0,0.2);
       -moz-box-shadow:2px 4px 16px rgba(0,0,0,0.2);
            box-shadow:2px 4px 16px rgba(0,0,0,0.2);

    -moz-border-radius: 8px/8px;
         border-radius: 8px/8px;
}



/* =============================================== */
/* Results */
/* =============================================== */

.table {
    width: 100%;
    margin-bottom: 0;
}

th, td {
    text-align: center;
}

.card-info {
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin-top: 15px;
    margin-bottom: 15px;
}
